# Ignore everything
*

# But not this file
!.gitignore


# And not the files for GitHub Pages
!index.html
!style.css
!script.js
!data.js
!LICENSE
!README.md

# Un-ignore the img directory and its contents
!img/
!img/*